body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: rgb(234, 211, 190);
}

/* Header */
header {
  background: #c9b38a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

nav a:hover {
  color: rgba(36, 22, 4, 0.594);
}

/* Hero */
.hero {
  text-align: center;
  padding: 80px 20px;
  background:url(accessories7.webp) no-repeat center;
  color: #aa5a04;
}

.hero button {
  padding: 10px 20px;
  border: none;
  background: #aa5a04;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

/* Products */
.products {
  padding: 40px;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card button {
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  background: gold;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.card button:hover {
  background: #2b2b2b;
  color: white;
}

/* Footer */
footer {
  background: #2b2b2b;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}