body {
  margin: 0;
  font-family: Arial, sans-serif;
  background:rgb(252, 220, 226);
}

/* Header */
header {
  background: rgb(254, 166, 181);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

nav a:hover {
  color: #f30dd4;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 80px 20px;
  /* background: linear-gradient(to right, #ff758c, #ff7eb3); */
  background:url(dress.avif) no-repeat center ;
  color: rgb(235, 49, 170);
}

.hero button {
  padding: 10px 20px;
  border: none;
  background: wheat;
  color: #d11a8b;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

/* Products */
.products {
  padding: 40px;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: rgb(246, 169, 227);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 15px #e177d21a;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card button {
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  background: rgb(235, 161, 186)205, 130, 142);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.card button:hover {
  background: rgb(206, 39, 175);
}

/* Footer */
footer {
  background: #ed8ad1;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}