body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #c4bdbd;
}

header {
  background: #6b4f3b;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
  flex-wrap: wrap;
}

.product {
  background: white;
  width: 250px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  padding: 15px;
  text-align: center;
  transition: 0.3s;
}

.product:hover {
  transform: scale(1.05);
}

.product img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.product span {
  display: block;
  margin: 10px 0;
  font-weight: bold;
  color: #6b4f3b;
}

button {
  background: #a47148;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #6b4f3b;
}

footer {
  text-align: center;
  padding: 20px;
  background: #6b4f3b;
  color: white;
}